.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: #3f51b5;
}

mat-card {
  width: 30%;
  min-width: 300px;
}

mat-card-header {
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

mat-card-title>h1 {
  font-size: 2.5rem;
  font-weight: 400;
  text-align: center;
}

mat-form-field {
  width: 100%;
}

.sign-up-button {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
}

.spinner {
  position: absolute;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.286);
  z-index: 10;
  text-align: center;
  top: 40%;
  left: 45%;
  position: fixed;
  backdrop-filter: blur(10px);
}

.message {
  background-color: #3f51b5;
  position: absolute;
  color: white;
  padding: 16px;
  border-radius: 6px;
  top: 10%;
  width: 25vw;
  text-align: center;
  left: 36.5%;
  z-index: 100;
}

.slide-fwd-center {
  -webkit-animation: slide-fwd-center 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: slide-fwd-center 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-fwd-center {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }

  100% {
    -webkit-transform: translateZ(160px);
    transform: translateZ(160px);
  }
}

@keyframes slide-fwd-center {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }

  100% {
    -webkit-transform: translateZ(160px);
    transform: translateZ(160px);
  }
}